@import url(https://fonts.googleapis.com/css?family=Raleway:500);

* {
	font-family: 'Raleway', sans-serif;
}

a {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	
	color: #333333;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #BC2026;
}

.container {
	max-width: 1140px;
}

.logo {
	margin: 0;
}

header {
	background: #A21117;
	padding: 10px 0;
}

header .nav {
}

header .nav li a {
	color: #FFF;
	padding: 7px 10px;
}

header .nav li a:hover, 
header .nav li a:focus, 
header .nav li a:active {
	color: #FFF;
	background: #333333;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	color: #FFF;
	background: #333333;
}

.dropdown-menu {
	background: #333333;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
	color: #333333 !important;
	background: #FFF !important;
}

.icon-bar {
	background: #FFF;
}

footer {
	background: #291919;
	padding: 10px 0;
}

footer * {
	color: #FFF;
}

footer h2 {
	font-size: 16px;
	font-weight: bold;
}

footer a:hover,
footer a:focus,
footer a:active {
	color: #BC2026;
	text-decoration: none;
}

.menu-footer {
	margin: 0;
	padding: 0;
}

.menu-footer li {
	list-style: none;
	margin: 0 0 15px;
}

.social-footer i {
	font-size: 30px;
	background: #FFF;
	height: 25px;
	line-height: 25px;
	width: 25px;
	margin: 0 6px 0 0;
	border-radius: 5px;
}

.facebook i {
	color: #3B5998;
}

.twitter i {
	color: #2AA9E0;
}

.google-plus i {
	color: #008000;
}

.youtube i {
	color: #EE1C1B;
}

.instagram i {
	color: #D53891;
}

.pinterest i {
	color: #FFA500;
}

.internal {
	padding: 50px 0;
}

.carousel-caption {
    bottom: 40%;
    padding: 0;
    color: #FFF;
    text-shadow: 0 1px 2px #000;
    font-weight: bold;
    font-size: 40px;
}

.carousel-caption h3 {
	font-size: 40px !important;
    font-weight: bold;
}

.tcc-button-submit {
	background: #73c501;
	color: #FFF;
	border: none;
	width: 100%;
	padding: 10px 0;
}

.tcc-button-submit:hover, 
.tcc-button-submit:focus,
.tcc-button-submit:active {
	background: #4CAF50;
	color: #FFF;
}

.validate {
	color: #BC2026;
}


p, table, .dataTables_wrapper {
	padding: 20px 0 0;
}

.dataTables_wrapper {
	border: none;
	padding: 10px;
}

.dataTables_wrapper thead {
	cursor: pointer;
}

.dataTables_wrapper tbody tr {
	transition: all 0.1s;
}

.dataTables_wrapper tbody tr:hover {
	background: #ede4e4;
}

.dataTables_wrapper thead tr th {
	text-align: center;
}

.dataTables_wrapper tbody tr td {
	vertical-align: middle;
	text-align: center;
}

.img-product {
	max-width: 150px;
	margin: 0 auto;
}

.no-padding {
	padding: 0;
}

img.img-resume-order {
    max-width: 100px;
    margin: 0 10px;
}

.profile-picture {
	width: 135px;
	height: 135px;
	background-image: url(../img/profile-picture.png);
	background-size: cover;
	margin: 20px auto;
	border-radius: 50%;
}

table tr td, table tr th {
	text-align: center;
}

.area-admin {
	text-align: center;
	width: 100%;
	padding: 60px 0;
	margin-bottom: 20px;
	background: #A21117;
	display: block;
	border-radius: 5px;
	color: #FFF;
	font-size: 18px;
}

.area-admin i {
	font-size: 60px;
}

.area-admin span {
	display: block;
	margin: 20px auto 0;
	height: 40px;
}

.area-admin:hover,
.area-admin:focus,
.area-admin:active {
	background: #4CAF50;
	color: #FFF;
}