@import url(https://fonts.googleapis.com/css?family=Raleway:500);

* {
	font-family: 'Raleway', sans-serif;
}

a {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	
	color: #BC2026;
}

.table {
	background: #f2f2f2;
	border-radius: 5px;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #BC2026;
}

.container {
	max-width: 960px;
}

.logo {
	margin: 0;
}

header {
	background: #A21117;
	padding: 10px 0;
}

header .nav {
}

header .nav li a {
	color: #FFF;
	padding: 7px 10px;
}

header .nav li a:hover, 
header .nav li a:focus, 
header .nav li a:active {
	color: #FFF;
	background: #333333;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	color: #FFF;
	background: #333333;
}

.dropdown-menu {
	background: #333333;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
	color: #333333 !important;
	background: #FFF !important;
}

.icon-bar {
	background: #FFF;
}

footer {
	background: #291919;
	padding: 50px 0 20px;
}

footer * {
	color: #FFF;
}

footer h2 {
	font-size: 16px;
	font-weight: bold;
}

footer a:hover,
footer a:focus,
footer a:active {
	color: #BC2026;
	text-decoration: none;
}

.menu-footer {
	margin: 0;
	padding: 0;
}

.menu-footer li {
	list-style: none;
	margin: 0 0 15px;
}

.social-footer i {
	font-size: 30px;
	background: #FFF;
	height: 25px;
	line-height: 25px;
	width: 25px;
	margin: 0 6px 0 0;
	border-radius: 5px;
}

.facebook i {
	color: #3B5998;
}

.twitter i {
	color: #2AA9E0;
}

.google-plus i {
	color: #008000;
}

.youtube i {
	color: #EE1C1B;
}

.instagram i {
	color: #D53891;
}

.pinterest i {
	color: #FFA500;
}

.internal {
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 400px;
}

.carousel-caption {
    bottom: 43%;
    padding: 0;
    color: #FFF;
    text-shadow: 0 1px 2px #000;
    font-weight: bold;
    font-size: 40px;
}

.carousel-caption h3 {
	font-size: 40px !important;
    font-weight: bold;
}

.carousel-caption h3 a {
	color: #FFF;
}

.tcc-button-submit {
	background: #73c501;
	color: #FFF;
	border: none;
	width: 100%;
	padding: 10px 0;
}

.tcc-button-submit-inline {
	background: #73c501;
	color: #FFF;
	border: none;
	padding: 10px 30px;
	width: auto;
}

.tcc-button-submit:hover, 
.tcc-button-submit:focus,
.tcc-button-submit:active,

.tcc-button-submit-inline:hover, 
.tcc-button-submit-inline:focus,
.tcc-button-submit-inline:active {
	background: #4CAF50;
	color: #FFF;
}

.validate {
	color: #BC2026;
}


p, table {
	margin: 20px 0 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 18px;
}

h2 a {
	color: #C92930;
	font-weight: bold;
}

.no-padding {
	padding: 0;
}

a.img-product {
	width: 100%;
	height: 200px;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.price {
	color: #618D61;
	font-size: 20px;
	vertical-align: middle;
}

.price span {
	font-weight: bold;
	vertical-align: bottom;
	font-size: 25px;
}

th, td {
	vertical-align: middle !important;
}

img.img-product {
	max-width: 150px;
	margin: 0 auto;
}

.formqtd {
	width: 120px;
}

th.price-cart {
	width: 100px;
}

.end h4 {
	font-weight: bold;
}

.end address {
	font-weight: normal;
}

.go-to-cart {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: #A21117;
	width: 40px;
	height: 40px;
	color: #FFF;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
}

.go-to-cart:hover {
	background: #4CAF50;
	color: #FFF;
}

.product {
	padding: 15px 0;
}

.product h2 {
	margin: 10px 0 0;
	height: 40px;
	overflow: hidden;
}

p.success {
	font-size: 120px;
	color: #4CAF50;
}

img.img-resume-order {
	max-width: 100px;
	max-height: 100px;
}

#itens table tbody p {
	margin: 0 0 10px;
	padding: 0;
}

img.img-resume-order {
    max-width: 100px;
    margin: 0 10px;
}

.profile-picture {
	width: 135px;
	height: 135px;
	background-image: url(../img/profile-picture.png);
	background-size: cover;
	margin: 20px auto;
	border-radius: 50%;
}

table tr td, table tr th {
	text-align: center;
}

.overlay {
   background:rgba(162, 17, 23, 0.2); 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.how h2 {
	font-size: 30px;
	margin: 0;
	padding: 0 0 10px;
	color: #A21117;
	text-transform: uppercase;
	border-bottom: 4px groove;
	display: inline-block;
	margin: 0 auto 30px;
}

.sad {
	font-size: 170px;
}

.how p {
	margin: 0;
	padding: 0;
}

.how img {
	border-radius: 5px;
	box-shadow: 5px 20px 30px 0 #ECE3E3; 
}

.how .row {
	margin-top: 20px;
	margin-bottom: 40px;
}

#preloader {
    background: #a21117;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

#statusloader {
    background-image: url(../img/preloader.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 64px;
    left: 50%;
    margin: -32px 0 0 -32px;
    position: absolute;
    top: 50%;
    width: 64px;
}

.custom-title {
	text-transform: uppercase;
	font-weight: bold;
	color: #A21117;
	font-size: 25px;
	padding: 0 0 10px;
	text-transform: uppercase;
	border-bottom: 4px groove;
	display: inline-block;
	margin: 0 auto 30px;
	min-width: 1px;
	margin: 0 auto;
}

.bdrimg {
	border-radius: 5px;
}

@media (max-width: 767px) {
	.carousel-caption {
	    bottom: 25%;
	}

	.carousel-caption h3 a {
	    font-size: 25px;		
	}

	.carousel-indicators {
	    bottom: 0px;
	}
}